* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
}

.navbar {
  margin-bottom: 0px;
}

.text_nav {
  color: #000000;
}

.img_back {
  background-image: url("../img_topo.jpg");
  background-size: cover;
}

.fundo_black {
  background-image: url("../bg.jpg");
  background-size: cover;
}
.lead {
  margin-bottom: 0px;
  padding: 200px 0;
}
.lead p {
  color: white;
}

.text_box {
  margin-top: 19px;
  font-size: 64px;
}

.number p {
  font-size: 14px;
}

.maecenas {
  max-width: 320px;
  background-color: rgb(255, 208, 0);
  color: white;
  font-size: 60px;
}

.maecenas h1 {
  font-size: 5rem;
}

.nulla {
  max-width: 420px;
  margin-top: -10px;
  background-color: rgb(255, 208, 0);
  color: white;
}

.nulla h1 {
  font-size: 5rem;
  padding-left: 50px;
}

.nulla_text p {
  font-size: 10px;
}

.panel {
  padding: 21px;
  margin-left: 15%;
  position: relative;
  top: -60px;

  margin-right: 15%;
  border: none;
}

.row {
  color: #ffffff;
  margin: 25px 0;
}

.row h2 {
  color: rgb(251, 255, 0);
  margin-top: 10px;
}

.row_black {
  padding-bottom: 50px;
}
.row_black h2 {
  margin-left: 15px;
  margin-top: -21px;
}

.row h4 {
  line-height: 30px;
}


.text_one {
  margin-top: 40px;
}

.text_row {
  float: right;
}

.thumbnail {
  border-radius: 20px;
  max-width: 300px;
  margin: 45px auto;
  box-shadow: 2px 1px 12px 2px #808080;
}

.jumbotron {
    margin-bottom: 0px;
}
footer p {
  font-size: 15px;
  margin-bottom: 0px;
}
